
@font-face {
    font-family: myFirstFont;
    src: url(The_blacklist.ttf);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered1 {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
      font-family: 'Pacifico', cursive;
   
    font-size: 200%
}

.layer {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
    font-size: 600%
}

.background {
    background:url('https://static01.nyt.com/images/2013/07/31/dining/31TAKEAWAY_SPAN/31TAKEAWAY_SPAN-superJumbo.jpg');
    position: relative;
    width: 100%;
    height: 100%;
    
}

.background22 {
    position: relative;
    width: 100%;
    height: 30%;
    
}

.centered22 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  color: black;
    font-size: 100%;
    text-decoration: underline;
    -moz-text-decoration-color: brown;
    
}


.layer {
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button
{
     background-color:transparent;
    border:solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
        position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-family: helvetica;
      cursor: pointer; 
     border-radius: 12px;
    
}

.abajin {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-family: Tahoma;
    font-size: 100%
}

input[type=text] {
    background-color: transparent;
    background-image: url('https://cdn4.iconfinder.com/data/icons/study-instruments/154/magnifier-glass-find-search-loop-study-instrument-512.png');
    background-position: 10px 10px;
    background-size: auto;
    background-repeat: no-repeat;
    padding-left: 20px;
     position: absolute;
    top: 5%;
    left: 60%;
}

.login
{
position: absolute;
color: white;
padding-left: 20px;
top: 3%;
left: 75%;
 cursor: pointer; 
    font-family: 'Roboto', sans-serif;
}

.signup
{
position: absolute;
padding-left: 20px;
color: white;
top: 3%;
left: 80%;
  font-family: 'Roboto', sans-serif;
   cursor: pointer; 
}

.background2 {
    background-color: white;
    position: relative;
    width: 100%;
    height: 50%;
    
}

.imagen3
{

    position: absolute;
    top:2%;
    left: 10%;
   
}
.imagen4
{

    position: absolute;
    top:70%;
    left: 50%;
     width: 20%;
    height:10%;
     cursor: pointer; 
}

.imagen5
{

    position: absolute;
    top:85%;
    left: 50%;
     width: 20%;
    height:10%;
     cursor: pointer; 
}
.background3 {
    background-color: lightgray;
    position: relative;
    width: 100%;
    height: 100%;
    
}
.inspired {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
   font-family: 'Roboto', sans-serif;
    font-size: 50%;
    color: black;
}

.Holis{
    position: absolute;
    top: 35%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: black;
}

.rewarded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-family: Arial, Helvetica, sans-serif;
    font-size:50%;
     color: black;
}

.social {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size:50%;
     color: black;
    
}

.background5 {
    background:url('http://sm.askmen.com/askmen_in/article/c/chef-brags/chef-brags-about-spiking-vegan-meal-with-meat_zgy5.jpg');
    position: relative;
    width: 100%;
    height: 50%;
    
}
.div5 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
     color: white;
    
}
.div6 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size:50%;
     color: white;
    
}

.img1d5
{
   position: absolute;
   top:10%;
   left:45%;
   border-radius: 50%;
   width: 10%;
   height:35%;
   
}

.img1d2
{
   border-style: solid;
   border-radius: 50%;
   border-color: brown;
   position: absolute;
   top:15%;
   left:78%;
   border-radius: 50%;
   width: 5%;
   height:17.5%;
   
}

.img2d2
{
      border-style: solid;
   border-radius: 50%;
   border-color: brown;
   position: absolute;
   top:15%;
   left:47.5%;
   border-radius: 50%;
   width: 5%;
   height:17.5%;
   
}

.img3d2
{
      border-style: solid;
   border-radius: 50%;
   border-color: brown;
   position: absolute;
   top:15%;
   left:17%;
   border-radius: 50%;
   width: 5%;
   height:17.5%;
   
}


.imagen1{

position:absolute;
left: 50%;
top:50;
}

.btn-group button {
    border:none;
    color: white;
    padding: 10px 24px;
    cursor: pointer; 
    float: left;
    width:25%;
    height:100px;
}

.btn-group button:not(:last-child) {
    border-right: none; 
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:hover {
    background-color:blue;
}